<!doctype html>
<html>
<head>
  <title>React Course</title>
  <meta name="charset" content="utf-8" />
  <link rel="stylesheet" href="index.css" />
</head>
<body>

  <!-- stopwatch start-->
  <div class="crono">
    <div class="header">
      <h2>Stop Watch</h2>
    </div>
    <div class="content">
      <div class="timer">
        <span class="timer-hours">00</span>:
        <span class="timer-minutes">00</span>:
        <span class="timer-seconds">00</span>
      </div>
      <div class="actions">
        <button>STOP</button>
        <button>START</button>
      </div>
    </div>
  </div>
  <!-- stopwatch end -->
</body>
</html>
